body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seccionLogin {
    background-color: var(--blancoPuro);
    color: var(--medio);
    font-family: 'Barlow', sans-serif;
    text-align: center;
    line-height: 1.7;
    margin: 0;
    height: auto;
}

.seccionLogin h2 {
    color: var(--medio);
    font-size: 1.75rem;
    font-weight: 700;
    text-transform: uppercase;
}

.seccionLogin form {
    background-color: var(--blancoPuro);
    color: var(--oscuro);
    width: 100%;
}

.seccionLogin legend {
    color: var(--oscuro);
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.seccionLogin fieldset {
    margin-bottom: 1rem;
}

.seccionLogin label {
    color: var(--oscuro);
    font-size: 0.9rem;
    font-weight: 600;
    text-align: left;
}

.seccionLogin input {
    width: 100%;
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    color: var(--oscuro);
    background-color: var(--grisClaro);
}

.seccionLogin input:focus {
    background-color: var(--blancoCristal);
    color: var(--oscuro);
}

.seccionLogin button {
    background-color: var(--amarillo);
    color: var(--oscuro);
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
}

.seccionLogin button:hover,
.seccionLogin button:focus {
    background-color: var(--medio);
    color: var(--blancoPuro);
}

.seccionLogin button:active {
    background-color: var(--oscuro);
    color: var(--amarillo);
}